# Prerequisites
*.d
__pycache__/
.venv

# msvc specific
.vs
build

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/venv
/compiler/codegen/__pycache__
/compiler/__pycache__
*:Z*
*workspace

# Python
crosstl.egg-info
.vscode/settings.json
