include README.md
include LICENSE
include backend/DirectX/*.py
include backend/Metal/*.py
include backend/Opengl/*.py
include translator/*.py
include translator/codegen/*.py
include crosstl.py
include crosstl
include corsstl/
