include README.md
include LICENSE
include examples/*.cgl
include backend/DirectX/*.py
include backend/Metal/*.py
include backend/GLSL/*.py
include backend/CUDA/*.py
include backend/Mojo/*.py
include backend/Rust/*.py
include backend/SPIRV/*.py
include backend/HIP/*.py
include translator/*.py
include translator/codegen/*.py
include crosstl.py
include crosstl
include corsstl/
